= form_for [:admin, @comment] do |f|
  - if @comment.errors.any?
    #error_explanation
      %h2= "#{pluralize(@comment.errors.count, "error")} prohibited this comment from being saved:"

      %ul
        - @comment.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :comment
    %br
    = f.text_area :comment

  .actions
    = f.submit

