#side_panel
  .wrap#user_information
    - if current_user
      %p
        Logged as:
        %b
          = current_user.email
      %p
        = link_to "Log Out", destroy_user_session_path
      %p
        My Notes:
        = current_user.notas.size
    - else
      = link_to "LogIn", new_user_session_path
    
  .wrap#links_notes
    %p= link_to "New Note", new_nota_path
    %br
    %p= link_to "All Notes", root_url
  .wrap#tag_cloud
    TAGS:
    - Nota.tag_counts_on(:tags).each do |tag|
      %p
        = link_to tag, search_by_tag_path(tag.name)
        == (#{Nota.tagged_with(tag).size})
- unless @notas.empty?
  - for nota in @notas
    .note
      %span
        %p.title
          %span.date
            == #{distance_of_time_in_words(nota.created_at, Time.now)} ago |
            %br
            == created by #{nota.user.email}
          %br
          %span.info
            = link_to nota.title.capitalize, nota_path(nota)

        %p.body
          = truncate(word_wrap(nota.body,:line_width => 30), :length => 120).html_safe
        %p.tags
          - unless nota.tags.empty?
            Tags:
            - nota.tags.each do |tag|
              %span.tag
                = link_to tag,search_by_tag_path(tag.name)
          - else
            untagged
  .clear
  = will_paginate @notas, :previous_label => "Previous", :next_label => "Next"
- else
  #search_result
    There were no notes. Try again!
%script
  //$(function() {
  //$( "#sortable" ).sortable({placeholder: "ui-state-highlight"});
  //$( "#sortable" ).disableSelection();
  //});
  //$('.info').tipsy({gravity: 'e'});
  //$('.flash').dialog({ autoOpen: true, height: 100});
  
  
