- unless @notas.empty?
  - for nota in @notas
    .note
      .note_complete
        .header
          %span.date
            == #{distance_of_time_in_words(nota.created_at, Time.now)} ago |
            %br
            == created by 
            %span.note_owner
              == #{nota.user.name}
        .title_note
          .title_header
            .title
              %h2= link_to nota.title.capitalize, nota_path(nota), :class => 'info', :title => "#{nota.votes.size} votes / #{nota.comments.size} comments / #{nota.views} views"
            //.triangle_left_title   
        %p.body
          ~ truncate(word_wrap(nota.body,:line_width => 30), :length => 100).html_safe
        %p.tags
          - unless nota.tags.empty?
            Tags:
            - nota.tags.each do |tag|
              %span.tag
                = link_to tag,search_by_tag_path(tag.name)
          - else
            untagged
        .clear
  #pagination
    = will_paginate @notas, :previous_label => "Previous", :next_label => "Next"
- else
  #search_result
    There were no notes. Try again!
%script
  //$(function() {
  //$( "#sortable" ).sortable({placeholder: "ui-state-highlight"});
  //$( "#sortable" ).disableSelection();
  //});
  //$('.info').tipsy({gravity: 'e'});
  //$('.flash').dialog({ autoOpen: true, height: 100});
  
  
