
- unless @notas.empty?
  - for nota in @notas
    .note
      %span
        .title
          %span.date
            == created #{distance_of_time_in_words(nota.created_at, Time.now)} by me
          %br
          %span.info
            = link_to nota.title.capitalize, nota_path(nota)
        .body
          = truncate(word_wrap(nota.body,:line_width => 30), :length => 120).html_safe
        .tags
          - unless nota.tags.empty?
            - nota.tags.each do |tag|
              %span.tag
                = link_to tag,:controller => "pages", :action => "tags", :tag => tag.name
          - else
            untagged
  .clear
  = will_paginate @notas, :previous_label => "Previous", :next_label => "Next"
- else
  #search_result
    There were no notes. Try again!
%script
  //$(function() {
  //$( "#sortable" ).sortable({placeholder: "ui-state-highlight"});
  //$( "#sortable" ).disableSelection();
  //});
  //$('.info').tipsy({gravity: 'e'});
  //$('.flash').dialog({ autoOpen: true, height: 100});
  
  
