= will_paginate @notas, :previous_label => "Previous", :next_label => "Next"
#note_counter
  %small
  == We have #{Nota.count} shared notes
%p
  - flash.each do |name, msg|
    = content_tag :div, msg, :id => "flash_#{name}", :class => "flash"
    
%ul#sortable
  - unless @notas.empty?
    - for nota in @notas
      %li{:class => "nota dialog-modal"}
        .content
          %span.title
            - unless nota.topic.nil?
              %span.info.right{:title => "Topic: #{nota.topic.name} (#{nota.topic.notes})"}
                %b= link_to nota.topic.name, :controller => "pages", :action => "topic", :topic => nota.topic.name
            - unless nota.category_id.nil?
              %span.info.left{:title => "Category: #{nota.category.name}"}
                %b= link_to nota.category.name,:controller => "pages", :action => "category", :category => nota.category.name
          %br
          %p
            %u
              - if @notas_controller
                %b= nota.title
              - else
                %b= nota.title.capitalize
            %p{:style => "word-wrap:break-word;"}
              = truncate(word_wrap(nota.body,:line_width => 30), :length => 120).html_safe
        #info_note
          %small{:style => "float:left; width: 33%;text-align:left;"}
            == Views: #{nota.views}
          %small{:style => "float:left; width: 33%;text-align:center;"}
            == Votes: #{nota.vote}
        %p
          %span{:id => "footer_#{nota.id}"}
            %small{:style => "float:left; width: 33%;text-align:left;"}
              = link_to 'Show', nota
            %small{:style => "float:right; width: 33%;text-align:right;"}
              = nota.created_at.strftime('%d/%m/%Y')
  - else
    #search_result
      There were no notes. Try again!
%script
  $(function() {
  $( "#sortable" ).sortable({placeholder: "ui-state-highlight"});
  $( "#sortable" ).disableSelection();
  });
  $('.info').tipsy({gravity: 'n'});
  $('.flash').dialog({ autoOpen: true, height: 100});
  
  
