#nota_form
  = form_for @nota do |f|
    = f.error_messages
    
    %p
      %span.label= f.label :title
      = f.text_field :title
    %p.label
      %span= f.label :body, "Note",:class => 'info2', :title => "Languages avaiables: javascript, ruby, java, php, cpp"
    %p
      = f.text_area :body, :cols => 80, :rows => 8
      %br
      %span{:style => "margin-left: 95px;color: #696969;"}
        Lenguajes disponibles:
        %b java, javascript, php, cpp, ruby
      =# f.cktext_area :body, :width => '90%', :height => '250px', :class => 'inputs'
    %p
      %span.label= f.label :tag_list
      = text_field :nota,:tag_list
    %p
      = submit_tag "Save Note"
      == or #{link_to 'Cancel',notas_path,:class => "link_cancel"}
