#nota_form
  = form_for @nota do |f|
    = f.error_messages
    %p
      %span.label= f.label :category_id
      = collection_select(:nota,:category_id,Category.all, :id, :name, :prompt => "")
    %p
      %span.label= f.label :topic_id
      = collection_select(:nota,:topic_id, Topic.all, :id, :name, :prompt => "" )
    %p
      %span.label= f.label :title
      = f.text_field :title
    %p
      = f.label :body, :class => 'body_label'
    %p
      = f.cktext_area :body, :width => '90%', :height => '250px', :class => 'inputs'
    %p
      %span.label= f.label :tag_list
      = text_field :nota,:tag_list
    %p
      = submit_tag "Save Note"
      == or #{link_to 'Cancel',notas_path,:class => "link_cancel"}
