.note
  .note_complete
    .title
      %span= link_to word_wrap(nota.title.capitalize), nota_path(nota), :class => 'info', :title => "#{nota.votes.size} votes / #{nota.comments.size} comments / #{nota.views} views"
    //.triangle_left_title
    %br  
    .body
      ~ truncate(word_wrap(collapse_code(nota.body),:line_width => 120), :length => 150).html_safe
    .ellipsis
    %br
    .tags
      - unless nota.tags.empty?
        Tags:
        - nota.tags.each do |tag|
          %span.tag
            = link_to tag,search_by_tag_path(tag.name)
      - else
        untagged
  
  .clear

