- title "#{@nota.title}"
#notas
  #nota_info
    #nota_info_header
      #top_header_info
      #header_note
        %span#note_date
          Created
          = distance_of_time_in_words(@nota.created_at, Time.now)
          ago
        %br
          by
        %span#note_owner
          = @nota.user.name
    #related_notes_by_user
      %p== Notes posted by #{@nota.user.name }: 
      - @user_notes.each do |note|
        .note_user
          %span.title_note_user= truncate(note.title, :lenght => 40)
          %span.link_nota_user= link_to "View >>", nota_path(note) 
          %br    
  #nota_show
    #top_header_note
    %br
    #nota_votes_comments
      %span#votes.info{:title => "Vote Me!"}
        = render :partial => "shared/votes"
      == /
      %span#views
        = pluralize(@nota.views, 'view')
      == /
      %span.comment_count
        = render 'shared/comments_count'
    %br  
    #note_title
      #title
        -if @nota.user == current_user
          = on_the_spot_edit @nota, :title
        - else
          = @nota.title
    #body_note
      ~ textilize @nota.body
    - unless @nota.tags.empty?
      #tags
        Tags:
        - @nota.tags.each do |tag|
          %span.tag
            = link_to tag,search_by_tag_path(tag.name)
            
    #links_note
      - if current_user == @nota.user
        %span#link_delete= link_to "Delete", @nota, :confirm => "Are you sure?", :method => :delete
        %span#link_edit= link_to "Edit", edit_nota_path(@nota)
    .clear    
  #comments_note
    #add_comment
    %script
      function newComment(){
      $('#comment_form').slideToggle();
      $('#add_comment').slideToggle();
      };
    - if current_user
      %span
        = link_to_function "Add new Comment","newComment()"
        %br
      %small
        This note has  
        %span.comment_count  
          = render "shared/comments_count"
    #comment_form{:style => "display:none;"}
      = render 'comments/form'
    .list_comments
      - for comment in @nota.comments.order("created_at DESC").last(5)
        = render :partial => comment, :locals => {:comment => comment}
    
      
#in_comments
#loading{:style => "display:none;"}
  = image_tag('loading.gif',:id =>"loading")
  %span#loading_title Buscando Datos...

