- title "N & T - #{@nota.title}"

#nota_container
  #nota_show.left.wrap
    .content
      %span.right
        = distance_of_time_in_words(@nota.created_at, Time.now)
        ago | Created by
        - if current_user
          = @nota.user.email == current_user.email ? "me" : @nota.user.email
        - else
          = @nota.user.email
      %br
      %span#title_note
        %u
          -if @nota.user == current_user
            = on_the_spot_edit @nota, :title
          - else
            = @nota.title
      #body_note
        ~ textilize @nota.body
      - unless @nota.tags.empty?
        #tags
          Tags:
          - @nota.tags.each do |tag|
            %span.tag
              = link_to tag,search_by_tag_path(tag.name)
  #nota_panel.right.wrap
    .content
      %span#votes
        = render :partial => "shared/votes"
      %p
        %span.value
          == #{@nota.views} #{@nota.views == 1 ? 'view' : 'views'}
      #comment_count
        = render 'shared/comments_count'
   
    %span#link_index.right
      = link_to "Back to Index", root_url

.clearfix
%script
  function newComment(){
  $('#comment_form').fadeToggle();
  $('#add_comment').fadeToggle();
  };
%br
#list_comments.wrap
  = render :partial => 'shared/comments', :nota => @nota
%br
#comment_form{:style => "display:none;color: #fff;"}
  .wrap
    .left
      = render 'comments/form'
    .right{:style => "color: #000"}
      Datos del usuario!
    .clearfix
%br
#add_comment
  %span.wrap
    = link_to_function "Add Comment","newComment()"
