!!!
%html
  %head
    %title
      Globant Kitchen
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}
    = stylesheet_link_tag "kitchen","tipsy","menu","jquery", 'highlight'
    = javascript_include_tag :defaults,'jquery.tipsy','jquery-ui-1.8.6.custom.min'
    = javascript_include_tag :on_the_spot, :ckeditor, 'jquery.form', 'jquery.validate.min'
    = javascript_include_tag  'autocomplete-rails'
    = csrf_meta_tag
    = yield(:head)

  %body
    #header
      #left_side
        = link_to image_tag('logo_header.png'), root_url
      = image_tag('line.jpg')
      #right_side
        #search_title Search any note or comment
        #search_form
          = form_tag("/notas/search", :method => :get, :remote => true) do
            = search_field_tag("search")
            = submit_tag 'Search'
      .clear
    %br
    #container
      #side_panel
        #user_panel
          - if !current_user
            #login_form
              #user_login_header
                Login
              = render "devise/sessions/new"
          - else
            #user_info
              #user_header
                Welcome:
              %br
              #user_name
                %b= current_user.name
                %br
                %span.user_email
                  = current_user.email
                %p
                  %span.user_my_notes
                    My Notes:
                    = current_user.notas.size
              - if current_user.has_role? :admin
                %p= link_to 'admin', admin_path
              #user_links
                =  link_to "Log Out", destroy_user_session_path, :class => 'logout_link'
            .clear
          %p
            #note_buttons
              .all_notes
                = link_to "All Notes", root_url
              .new_note
                = link_to "New Note", new_nota_path
          %br
          %p
            #tag_panel
              #tag_header
                = link_to_function "Select Tags", "$('#tag_list').slideToggle('slow');"
              #tag_list{:style => "display:none;"}
                - tag_cloud(@tags, %w(css1 css2 css3 css4)) do |tag, css_class|
                  = link_to tag.name, search_by_tag_path(tag.name), :class => "#{css_class} info", :title => "#{Nota.tagged_with(tag).size} notes"
      #content
        - if flash[:notice]
          .flash
            = flash[:notice]
            = link_to_function image_tag('close.png'), "$('.flash').fadeOut('slow')", :class => "close_button"
        = yield
      .clear

