!!!
%html
  %head
    %title
      = yield(:title) || "Tips & Notes"
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}
    = stylesheet_link_tag "application","fancybox","tipsy","menu","jquery"
    = javascript_include_tag :defaults,'jquery.tipsy','jquery.fancybox-1.3.4.pack'
    = javascript_include_tag :on_the_spot, 'jquery-ui-1.8.6.custom.min'
    = include_tiny_mce_if_needed
    = csrf_meta_tag
    = yield(:head)

  %body
    #container
      #header
        %span
          - if show_title?
            = yield(:title) || "Tips & Notes"
        %br
        #subhead
          %span
            %small shared notes
      %div{:id => "flash_message"}
      
      #content
        = link_to "Nueva Nota", "#", :class => "triggerLeft", :id => "modalForm"
        = link_to "Menu","#", :class => "trigger"
        #search_form
          = form_tag @nota, :method => "get" do
            %table
              %th category
              %th topic
              %th body
              %tr
                %td= select :query, :category, Category.all.collect(&:name), :prompt => ""
                %td= select :query, :topic, Topic.all.collect(&:name), :prompt => ""
                %td= text_field :query, :body, :size => 20
                %td= submit_tag "Search now!"
        .clearfix
        = yield
      .clearfix
      #footer
        %p
          Aca va el footer
#panel
  .columns
    .colleft
      %h3
        Categories
      %ul
        - Category.all.each do |cat|
          %li
            = link_to cat.name, :controller => "pages", :action => "category", :category => cat.name
    .colright
      %h3
        Topics
      %ul
        %li
          = link_to "All notes", notas_path
          ==(#{Nota.count})
        - Topic.all.each do |top|
          %li
            = link_to top.name, :controller => "pages", :action => "topic", :topic => top.name
            ==(#{top.notas.count})