!!!
%html
  %head
    %title
      = yield(:title) || "Tips & Notes"
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}
    = stylesheet_link_tag "application","tipsy","menu","jquery", 'highlight'
    = javascript_include_tag :defaults,'jquery.tipsy','jquery-ui-1.8.6.custom.min'
    = javascript_include_tag :on_the_spot, :ckeditor
    = csrf_meta_tag
    = yield(:head)

  %body
    #header
      #title
        - if show_title?
          = yield(:title) || "Tips & Notes"
        #subtitle
          %span
            %small shared notes
      #search_form
        = form_tag("/notas/search", :method => :get, :remote => true) do
          = search_field_tag("search")
          = submit_tag 'Search'
    #container

      #side_panel
        .wrap#user_information
          - if current_user
            %p
              Logged as:
              %b
                = current_user.email
            %p
              = link_to "Log Out", destroy_user_session_path
            %p
              My Notes:
              = current_user.notas.size
          - else
            = link_to "LogIn", new_user_session_path

        .wrap#links_notes
          %p= link_to "New Note", new_nota_path
          %br
          %p= link_to "All Notes", root_url
        .wrap#tag_cloud
          TAGS:
          - Nota.tag_counts_on(:tags).each do |tag|
            %p
              = link_to tag, search_by_tag_path(tag.name)
              == (#{Nota.tagged_with(tag).size})
      #content
        = yield

